{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-content">
                <h1>Welcome!</h1>
                <p>Welcome to the VATNZ Standard Operating Procedures hub. Here you will find Local Instructions so that
                    you may provide a
                    high-quality service within the virtual New Zealand FIR.</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                    class="md-button md-button--primary">
                    Let's go!
                </a>
                <a href="https://vatnz.net/" title="VATNZ Website" class="md-button">
                    Back to VATNZ website
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Page links -->

<div class="lowerSection">
    <div class="md-grid md-typeset">
        <div class="feature">
            <h2>Featured Changes</h2>

            <div class="cards">
                <div class="card">
                    <a href="enroute/">
                        <h3>New Enroute Procedures</h3>

                        <p>
                            All of our Enroute Sectors have detailed SOPs, which provide clarity on how to provide an
                            efficient and predicable Enroute service.
                        </p>
                    </a>
                </div>

                <div class="card">
                    <a href="">
                        <h3>Search Function</h3>

                        <p>
                            Need to quickly find information? The search function can be used to search for words or
                            phrases. Need to be more specific? Search with "quotes".
                        </p>
                    </a>
                </div>

                <div class="card">
                    <a href="controller-skills/">
                        <h3>Controller Skills</h3>

                        <p>
                            Want to take a deeper dive and improve your controlling skills? Our training team and SME's
                            have put together some advanced level resources for those interested.
                        </p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}