/* Navigation Modifications */
.md-header {
  background: rgba(30, 41, 59, 1.0);
}

.md-nav--primary .md-nav__title[for=__drawer] {
  background: var(--md-primary-fg-color--dark);
  overflow: visible;
}

.md-tabs {
  background: rgba(51, 65, 85, 1.0);
}

.md-top {
  color: #ffffff;
}

.md-top {
  color: #ffffff;
}

.md-tabs__link--active,
.md-tabs__link:focus,
.md-tabs__link:hover {
  border-bottom: 1.5px solid rgba(191, 219, 254, 0.6);
  height: -webkit-fill-available;
}

/*Announcement Bar*/
.md-banner {
  background-color: var(--md-footer-bg-color--dark);
  overflow: auto;
  text-align: center;
}

/*8.1.1 compatibility*/
/*.md-typeset img, .md-typeset svg {*/
/*    height: auto;*/
/*    max-width: 100%;*/
/*    vertical-align: text-bottom;*/
/*}*/